<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>TLV</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">TLV Converter</h1>
</div>
<br/>
<div class="container">
    <form th:action="@{/}" method="post">
        <div class="row">
            <div class="col-sm-5">
                <label for="tlvString">Textarea for TLV-format:</label>
                <textarea id="tlvString" name="tlvString" class="form-control" rows="20" th:value="${tlvString}"
                          th:text="${tlvString}"/>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary center-block" style="vertical-align: middle">Convert</button>
            </div>
            <div class="col-sm-5">
                <label for="tlv">Textarea for result:</label>
                <textarea readonly="true" id="tlv" name="tlv" class="form-control" rows="20" th:value="${tlv}"
                          th:text="${tlv}"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>